.sidebar2 {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: #379237 ;
}

.navbar {
    background-color: #379237 !important;
}

.nav a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.075em;
    color: #FEFDFC;
}

.back-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.075em;
    color: #191915;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.berita-item {
    width: 90vw;
    height: 35vh;
}

.berita-item .image img {
    width: 25vw;
    height: 100%;
    object-fit: cover;
}

.berita-item .desc h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.075em;
    color: #191915;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.berita-item .desc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #424141;
    overflow: hidden;
    display: -webkit-box;
    text-align: justify;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
}

.berita-item .selengkapnya{
    display: inline-block;
    background-color: #379237;
    border-radius: 100px;
    border: none;
    color: #FEFDFC;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.075em;
    width: 200px;
    height: 45px;
    cursor: pointer;
}

.berita-item .selengkapnya:hover {
    background-color: #DBCE7B;
    color: #FEFDFC;
}

.berita-item .navigation span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.075em;
    color: #191915;
}

.nav-btn {
    text-decoration: none;
}

.detail-artikel .image {
    width: 90vw;
    height: 80vh;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

.artikel-nav {
    background-color: #379237;
    color: #FEFDFC;
}

.detail-artikel {
    margin-top: 8vh;
}

.back-btn {
    cursor: pointer;
}

.detail-artikel .title .date {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
}

.detail-artikel img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.comment-section label textarea {
    vertical-align: middle;
}

.comment-section .comment-list {
    max-height: 60vh;
    overflow-y: scroll;
}

.comment-section .comment-list .comment-item h6 {
    color: #191915;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}