.navbar-collapse {
    justify-content: flex-end;
   
}

.navbar-nav .active {
    font-weight: 700;

}

body {
    font-family: 'Poppins', sans-serif;
    background: #FEFDFC;
}

.head {
    height: 720px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/sejarahbaru.jpg), #FEFDFC;
    background-size: cover;
    background-position-y: center;
}

.welcome {
    margin: 0 auto;
    padding-top: 40vh;
    width: 80vw;
    /* transform: translate(-50%, -47%); */
    text-align: center;
    color: #FEFDFC;
}

.welcome h6 {
    margin: 0 auto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4em;
}

.welcome h1 {
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.32em;
}

.welcome p {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
}

.head p {
    text-align: center;
    color: white;
}

.pak-dukuh {
    align-items: center;
}

.dukuh-content {
    margin-left: 5%;
    margin-right: 5%;
}

.pak-dukuh .image {
    position: relative;
    width: 25vw;
    margin: 0 auto;
}

.pak-dukuh .image .bg {
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
}

.pak-dukuh .image .pic {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 48%;
}

.pak-dukuh .sambutan {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #191915;
}

.pak-dukuh .nama {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #191915;
}

.pak-dukuh .jabatan {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #191915;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #191915;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #191915;
}

.rt-rw .img-rt-rw {
    position: relative;
    width: 20vw;
    padding-top: 15%;
    margin: 0 auto;
}

.img-rt-rw .bg {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    border-radius: 40%;
}

.img-rt-rw .pic {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 35%;
}

.rt-rw .nama {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #191915;
}

.rt-rw .jabatan {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #191915;
}

.demografi {
    background: #54B435;
}

.demografi-content {
    width: 70vw;
    margin: 0 auto;
}

.demografi .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #FEFDFC;
}

.filter-white {
    filter: invert(100%) sepia(47%) saturate(604%) hue-rotate(19deg) brightness(116%) contrast(97%);
}

.demografi .demog-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
}


.demografi .desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #FEFDFC;
}

.demografi .subdesc {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #FEFDFC;
}

.berita {
    padding: 50px 120px 50px 120px;
    background:#FEFDFC;
   
}

.berita #title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
}

.berita .no-berita {
    height: 10vh;
    color: rgba(25, 25, 21, 0.3);
}

.foot {
    background-color: #379237;
    text-align: center;
    color: #FEFDFC;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    bottom: 0;
}

.medsos-item img {
    width: 32px;
    height: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    margin-bottom: 90px;
    align-content: center;
    row-gap: 40px;
    column-gap: 40px;
}

.grid-item {
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.news-card {
    width: 300px;
    height: 500px;
    background: #FEFDFC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.news-card img {
    height: 40%;
    object-fit: cover;
}

.news-card .card-body {
    margin: 20px;
}

.news-card .card-title {
    height: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #191915;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.card-body .card-text {
    /* display: block; */
    /* width: 230px; */
    height: 128px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #424141;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-card .card-body button {
    background-color: #FEFDFC;
    border-radius: 100px;
    width: 160px;
    border: 1px solid #191915;
    color: #191915;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    height: 45px;
    cursor: pointer;
}

.news-card .card-body button:hover {
    background-color: #DBCE7B;
    border: none;
    color: #FEFDFC;
}

.berita .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.berita button {
    display: inline-block;
    background-color: #379237;
    border-radius: 100px;
    border: none;
    color: #FEFDFC;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.075em;
    width: 200px;
    height: 45px;
    cursor: pointer;
}

.berita button:hover {
    background-color: #379237;
    color: #FEFDFC;
}

.head-berita {
    height: 328px;
    left: 0px;
    right: 0px;
    padding-top: 128px;
    text-align: center;
    color: #FEFDFC;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/sejarahbaru.jpg), #FEFDFC;
    background-size: cover;
    background-position-y: center;
}

.title-berita {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.32em;
}

.head-berita h6 {
    margin: 0 auto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4em;
}

.artikel-nav {
    background-color: #379237;
    color: #FEFDFC;
}

.detail-artikel {
    margin-top: 100px;
}

.breadcrumb-item .active {
    color: #191915;
}

.detail-artikel .title .date {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
}

.detail-artikel img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.comment-section label textarea {
    vertical-align: middle;
}

.comment-section .comment-list {
    height: 450px;
    overflow-y: scroll;
}

.comment-section h5 {
    color: #191915;
    font-weight: 700;
}

.comment-section .comment-list .comment-item h6 {
    color: #191915;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.visi-misi {
    color: #FEFDFC;
    padding: 50px 20% 50px 20%;
    background-color: #54B435;
    
}

.visi-misi .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #FEFDFC;
}

.visi-misi .content {
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.monografi-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/sejarahbaru.jpg), #FEFDFC;
    background-size: cover;
    background-position-y: center;
}

.monog-content {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #191915;
}

.monog-content .table {
    width: 60vw;
    margin: 0 auto;
}

.monog-content .table thead {
    background-color: #379237;
    color: #FEFDFC;
}

.monog-content a {
    text-decoration: none;
    color: #FEFDFC;
}

.monog-content a:hover {
    text-decoration: none;
    font-weight: 700;
    color: #FEFDFC;
}

.sekilas .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* letter-spacing: 0.2em; */
    color: #191915;
}

.sekilas .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: 0.2em; */
    color: #191915;
}

.video-profil {
    width: 100vw;
    /* height: 56.25vw; 100/56.25 = 560/315 = 1.778 */
    margin: 0 auto;

}

.video-profil iframe {
    width: 755px;
    height: 424px;
    max-width: 100%;
    max-height: calc((100vw - 40px) / (16/9));
}

.video-profil .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1em;
    color: #191915;

}

.head-kontak {
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/sejarahbaru.jpg), #FEFDFC;
    background-size: cover;
    background-position-y: center;
}

.head-kontak .welcome-kontak {
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
    color: #FEFDFC;
}

.head-kontak .welcome-kontak h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.32em;
    color: #FEFDFC;
}

.head-kontak .welcome-kontak h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.contacts .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.3em;
    color: #191915;
}

.contacts .contacts-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
}

.contacts .contacts-item:hover {
    scale: 1.10;
}

.head-kontak .maps-content {
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
}

.contacts .contacts-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding: 5px;
    letter-spacing: 0.1em;
    color: #191915;
}

@media only screen and (max-width: 1235px) {

    .pak-dukuh .image {
        width: 35vw;
    }

    .rt-rw .img-rt-rw {
        width: 30vw;
    }

    .berita {
        padding: 50px 100px 50px 100px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 40px;
        align-content: center;
        row-gap: 40px;
    }

    .visi-misi {
        padding: 50px 10% 50px 10%;
    }

    .welcome {
        margin: 0 auto;
        text-align: center;
        color: #FEFDFC;
    }

    .welcome h1 {
        font-size: 32px;
        letter-spacing: 0.32em;
    }

    .welcome p {
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.2em;
    }
}

@media only screen and (max-width: 860px) {
    .pak-dukuh .image {
        width: 50vw;
    }

    .rt-rw .img-rt-rw {
        width: 40vw;
    }

    .berita {
        padding: 50px 30px 50px 30px;
    }

    .visi-misi {
        padding: 50px 1.5% 50px 1.5%;
    }
}

@media only screen and (max-width: 720px) {
    .welcome h6 {
        font-size: 14px;
    }

    .welcome h1 {
        font-size: 32px;
    }

    .pak-dukuh .image {
        width: 50vw;
    }

    .rt-rw .img-rt-rw {
        width: 40vw;
    }

    .rt-rw .nama {
        font-size: 18px;
        line-height: 30px;
    }

    .rt-rw .jabatan {
        font-size: 16px;
        line-height: 24px;
    }

    .title-berita {
        font-size: 32px;
    }

    .berita {
        padding: 50px 30px 50px 30px;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 400px) {
    .pak-dukuh .image {
        width: 75vw;
    }

    .pak-dukuh .sambutan {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 12px;
        line-height: 18px;
    }

    .pak-dukuh .nama {
        font-size: 18px;
        line-height: 30px;
    }

    .pak-dukuh .jabatan {
        font-size: 16px;
        line-height: 24px;
    }

    .rt-rw .img-rt-rw {
        width: 70vw;
    }

    .rt-rw .nama {
        font-size: 18px;
        line-height: 30px;
    }

    .rt-rw .jabatan {
        font-size: 16px;
        line-height: 24px;
    }

    .grid-container {
        grid-template-columns: auto;
    }

    .news-card {
        width: 75vw;
        height: auto;
    }

    .welcome h1 {
        font-size: 32px;
        letter-spacing: 0.32em;
    }

    .welcome p {
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.2em;
    }

    .head-kontak .welcome-kontak h1 {
        font-size: 32px;
        line-height: 48px;
    }
    
    .head-kontak .welcome-kontak h6 {
        font-size: 16px;
        line-height: 30px;
    }

    .title-berita {
        font-size: 32px;
        line-height: 48px;
    }

    .head-berita h6 {
        font-size: 16px;
        line-height: 30px;
    }
}